* {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

caption {
    color: green;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

table {
    margin: auto;
    padding-top: 75px;
}

main {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, white, #52eb2c);


}

main form {
    display: flex;
    margin-top: 20px;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, white, #52eb2c);
}


main form h1 {
    color: #eb7371;
    text-align: center;
}

main form .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main form .social-media p {
    padding: 5px;
    width: 20px;
    margin-left: 10px;
    border-radius: 100%;
    border: 1px solid #545454;
    text-align: center;
    cursor: pointer;
    color: #545454;
}

main form p.choose-email {
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs input[type='email'],
input[type='password'],
input[type='text'],
input[type='date'] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    outline: none;
    margin-bottom: 15px;
}

main form p.inscription {
    font-size: 14px;
    margin-bottom: 20px;
    color: black;
}

main form p.inscription span {
    color: #85dca2;
}

main form button {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #85dca2;
    outline: none;
    cursor: pointer;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    background-image: url(../img/Voyagez.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    margin: 0;

}

.bg {
    background: linear-gradient(to bottom, white, #52eb2c);
    height: 100vh;
}

.flux {
    padding: 75px
}


.logomap {
    width: 50px;
    height: 50px;
    background-color: #85dca2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.logoUser {
    width: 100px;
    height: 100px;
    background-color: #85dca2;
    border-radius: 50px;
}

.logoEcoride {
    width: 250px;
    height: 150px;
}


.Search {
    display: flex;
    align-items: center;
}

.recherche {
    height: 50px;
    width: 250px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.bouton {
    width: 80px;
    height: 50px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.bouton:hover {
    background-color: #85dca2;
    transition: background-color 0.5s;
}

.core {
    display: flex;
    align-items: center;
    padding-bottom: 75px;
}

.core-txt {
    align-items: center;
    padding-right: 30px;
}


ul {
    list-style: none;
}

.main-title {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.main-txt {

    font-size: 30px;
    text-align: center;
}

.list-inline {
    display: flex;
    gap: 0 5px;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}

.list-inline-item {
    display: inline-block;
}

.bloc {
    display: flex;
    justify-content: space-between;

}

.bloc-pub {
    width: 300px;
    float: left;
    margin: 10px;
    border-style: solid;
    text-align: center;

}


.bloc-txt {
    padding: 15px;
}

@media (max-width: 700px) {
    .flux {
        flex-direction: column;
        align-items: center;
    }

    .core {
        flex-direction: column;
        align-items: center;
    }

    .bloc-txt {
        flex-direction: column;
        align-items: center;
    }

    .main-txt {
        margin-bottom: 15px;
    }


    .list-inline-item {
        text-align: center;
    }

    .bloc {
        flex-direction: column;
        align-items: center;
    }
}
